body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/Backgrounds/F_Background2.png');
  background-size: 100%;
  background-color: black;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: 'Poppins', sans-serif;
}

#container {
  padding: 2em;
  min-height: 60vh;
  background-color: rgba(38, 38, 38, 0.75);
}

h1,
h2,
h3,
h4,
p,
label {
  color: white;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: white;
}
.error-text {
  color: red;
  font-weight: bolder;
}

.inBox {
  font-family: 'Poppins', sans-serif;
  border: 3px solid white;
  color: #0f9;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  text-align: center;
  font-size: 2rem;
  /* text-transform: uppercase; */
  letter-spacing: 15px;
  outline-offset: 0.25em;
  margin: 0.25em 7em 0.5em;
}

#contact-form,
#content {
  margin: 20px;
}

.btn {
  background-color: #0f9;
  font-size: 1rem;
  padding: 10px;
  border-radius: 6px;
}

.navBar,
.footer {
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  text-decoration: none;
}

@media (max-width: 800px) {
  .navBar,
  .footer {
    flex-wrap: wrap;
  }
}

@media (max-width: 940px) {
  .inBox {
    letter-spacing: 0px;
    margin: 0.25em 5em 0.5em;
  }
  .footer {
    font-size: 1rem;
  }
}

@media (max-width: 750px) {
  .footer {
    flex-direction: column;
  }
}

@media (max-width: 650px) {
  .navBar {
    flex-direction: column;
  }
  .inBox {
    letter-spacing: 0px;
  }
}

.navBar li,
.navBar a,
.footer a {
  list-style: none;
  text-decoration: none;
  font-size: 1.5rem;
  color: #ff0800;
}
